* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    height: 230px;
    background-color: white;
}

.navy-bg {
    background-color: #162aa7;
}

.purple-bg {
    background-color: #56199c;
}

.pink-bg {
    background-color: #ffafac;
}

.darker {
    filter: brightness(0.8);
}
