* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    /* font-family: "Bebas Neue", sans-serif; */
}

body {
    min-width: 470px;
    margin: 90px 0 50px 0;
}

header {
    position: relative;
    top: 12px;
}

.navbar-bg {
    background-color: #1e1e1e;
}

#logo {
    height: 2.8rem;
    margin: 0 auto 30px;
}

#page-title {
    /* color: rgb(223, 129, 5); */
    color: white;
    font-weight: 500;
    font-family: "Bebas Neue", sans-serif;
    font-size: 60px;
    /* line-height: 70%; */
}

#page-title,
#logo {
    bottom: 12px;
}

#search-btn {
    margin: 0 10px;
}

#search-btn:hover {
    background-color: rgb(223, 129, 5);
    color: black;
}

.card {
    height: 530px;
    width: 400px;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.1);
}
.summary-card,
.tech-spec-card {
    height: 400px;
    width: 390px;
}

.tech-spec-card {
    text-align: center;
}

#bike-price {
    margin: 0;
    font-size: 130%;
}

.navbar-properties {
    display: inline-block;
    height: 80px;
    border-bottom: 1px solid rgb(228, 226, 226);
}

.nav-link:hover {
    color: rgb(223, 146, 5);
}

.image {
    height: 180px;
    width: 90%;
    background-color: white;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    padding-top: 5px;
}

.choose-btn {
    display: block;
    margin: 0 auto;
    width: 80%;
    position: relative;
    bottom: 20px;
}

.darker {
    filter: brightness(0.8);
}

.category {
    text-transform: uppercase;
    font-size: 80%;
}

/* second page */

#previous-page-btn {
    width: 20%;
    margin-left: 23px;
}

.orange-text {
    color: orange;
}

.image-second-page {
    height: 300px;
}

.image-third-page {
    height: 300px;
    border-radius: 10px;
}

#error-message-name,
#error-message-email {
    color: red;
    visibility: hidden;
}

.form-check-input:checked {
    background-color: orange;
    border-color: rgb(243, 202, 125);
}

#start-date,
#end-date {
    text-align: center;
}

.form-control:focus {
    border-color: rgb(235, 199, 132); /* Zmiana koloru obramowania */
    box-shadow: 0 0 0 0.2rem rgba(238, 146, 7, 0.808); /* Zmiana koloru cienia */
}

#start-date::placeholder {
    right: 20px;
}

#start-date-msg,
#end-date-msg {
    border-radius: 7px;
    padding: 7px;
}

.w-30 {
    width: 30%;
}

.h-300 {
    height: 300px;
}

#check {
    height: 20px;
    width: 20px;
}

#additional-accessories img {
    height: 200px;
    width: 250px;
}

#additional-accessories .col {
    margin-right: 20px;
}

.item {
    height: 200px;
}

.card-300 {
    height: 300px;
}

#summary-page-btn,
#summary-page-btn a {
    width: 200px;
    font-weight: bolder;
    text-decoration: none;
}

#summary-page-btn:hover {
    width: 300px;
    color: rgb(255, 230, 0);
}
